html {
  height: 100vh;
  width: auto;
}

body {
  background-color: #0d0d0d;
  color: white;
  font-family: "Montserrat", sans-serif;
  margin: 2%;
}

section {
  padding: 20px;
  background-color: #0c0c0c;
  border: 1px solid #222;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  line-height: 1.5rem;
}

#intro {
  padding: 0 20px;
  font-style: italic;
  font-size: 0.9rem;
  line-height: 1.2rem;
}

h2 {
  margin-top: 0;
}

.pimg {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.pimg img {
  padding: 20px;
  height: 350px;
  background-color: rgba(221, 221, 211, 1);
  border-radius: 50px;
  box-shadow: 0px 0px 89px 10px rgba(221, 221, 211, 1);
  transition: 0.2s;
}

.pimg:hover img {
  transform: scale(1.1);
  box-shadow: 0px 0px 89px 10px #0ff;
}

h1 {
  text-align: center;
}

address, address a {
  text-align: center;
  color: #00ddff;
  text-decoration: none;
}

address::before {
  content: "[";
  transition: 0.2s;
  padding-right: 10px;
}
address::after {
  content: "]";
  transition: 0.2s;
  padding-left: 10px;
}
address:hover::before {
  padding-right: 2px;
}
address:hover::after {
  padding-left: 2px;
}
